@charset "UTF-8";
@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400|Passion+One:400");

.navbar {
  display: flex;
  justify-content: space-around;
  height: 100px;
  align-items: center;
  /* padding: 0px 40px; */
  background: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background: #1b1b1d;
  color: white;
}

.navbar__header {
  color: #fff;
  font-size: 2em;
  font-weight: 400;
  font-family: 'Passion One', cursive;
  margin: 0;

}

.navbar__user__data {
  display: flex;
  align-items: center;
}

.user {
  cursor: pointer;
  border: 2px solid rgb(0, 255, 234);
}

.signedIn {
  font-size: 15px;
  padding-left: 10px;
  cursor: pointer;
}

.logout__button {
  margin-left: 20px;
  /* padding: 12px 25px; */
  border-radius: 50px;
  border: none;
  background: rgb(39, 39, 39);
  font-family: "Inter";
  color: white;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.notSignedIn {
  font-size: 15px;
}

.news__search {
  flex: 1;
  width: 100%;
  display: flex;
  padding: 10px 0px;
  margin: 0px 40px;
  justify-content: space-between;
  background: rgb(59, 59, 59);
  border-radius: 5px;
}

.search {
  width: 80%;
  padding: 5px 30px;
  padding-left: 30px;
  background: none;
  font-family: "Inter";
  border: none;
  outline: none;
  font-size: 15px;
  color: white;
}

.submit {
  /* width: 18%; */
  font-family: "Inter";
  background: none;
  color: white;
  font-size: 14px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  /* padding: 12px 0px; */
  border-radius: 5px;
  transition: 0.1s ease-in-out;
  background: rgb(82, 81, 81);
  outline: none;
}

.navbar__mobile__search {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  padding: 0px 0px;
  background: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background: #1b1b1d;
  color: white;
}

@media (min-width: 800px){
  .news__search {
    margin: 0px 16%;
  } 
}


.loading__news {
  text-align: center;
  font-size: xx-large;
}
